.content-insert{
    margin-top: 100px;
}

.button-area {
    margin-left: 2px;
    margin-bottom: 20px;
}

.button-area ul li{
    margin-right: 40px;
    width: 120px;
}

.artist-details, .album-details, .track-details {
    margin-top: 100px;
}

.track-details th {
    font-size: 14px;
}

.track-details td {
    font-size: 12px;
}

.url {
	overflow: hidden;
	max-width: 60px;
	text-overflow: ellipsis;
}

.url-wide{
	overflow: hidden;
	max-width: 120px;
	text-overflow: ellipsis;
}

textarea {
	resize: none;
}

@media screen and (max-width: 780px) {
    .pick {
        margin-right:20px;
    }
}

table th, table td {
    text-align: center;
}

#navbar-main form {
    position: relative;
    top: 5px;
    right: 150px;
	width: 400px;
}

@media only screen and (max-width: 991px){
    #navbar-main form {
        right: 100px;
    }
}

@media only screen and (max-width: 786px){
    #navbar-main form {
        display: none;
    }
}